@charset "UTF-8";

body {
    background-color: #151E1D;
    min-height: 100%;
}
.navbar-brand {
    font-family: 'Rubik Dirt', cursive;
}

.bg-dark {
    background-color: #151E1D !important;
}
.navbar-nav .nav-link {
    font-family: 'Rubik Dirt', cursive;
    margin-left: 1rem;
    margin-right: 1rem;
}
.navbar-nav .nav-link:hover {
    color: #151E1D;
}
.navbar-nav .nav-item:hover {
    background-color: #f3f3f3;
    color: #151E1D;
    border-radius: 4px;
}

.caffelantico {
    font-family: 'Rubik Dirt', cursive;
}
.surface-dark {
    background: rgba(255, 255, 255, 0.085);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: 1px solid rgba(43, 43, 43, 0.568);
}
.form-control-dark {
    background-color: #151E1D;
    border: 1px solid #151E1D;
    border-bottom: 1px white;
}
.form-control-dark::placeholder {
    color: white;
}
.form-check-input:checked {
    background-color: #151E1D;
    border-color: #151E1D;
}
.btn-dark {
    background-color: #151E1D;
}
.scroller section {
    height: 100vh;
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}
.section-home {
    background-color: #151E1D;
    background-image: url("/img/0001.jpg");
}
.section-1909 {
    background-color: #151E1D;
    background-image: url("/img/1909.png");
    background-size: contain;
}
.section-history {
    background-color: #151E1D;
    background-image: url("/img/lantico_history.png");
    background-size: contain;
}
.section-espresso {
    background-color: #151E1D;
    background-image: url("/img/espresso.png");
    background-size: contain;
}
.breadcrumb {
    background: rgba(255, 255, 255, 0.100);
    backdrop-filter: blur(10px);
    padding-left: 1rem;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 4px;
}
.breadcrumb-item a {
    color: #f3f3f3;
}
.breadcrumb-item + .breadcrumb-item::before {
    color: #f3f3f3;
    content: "\00bb ";
}
.breadcrumb-item.active {
    color: #f3f3f3;
}

.year {
    border-top: #f3f3f3 1px solid;
    border-bottom: #f3f3f3 1px solid;
}
.text-light {
    color: #f3f3f3;
}